.app-header-logo {
    width: 100%;
    height: 100px;
    background-color: black;
}

.btn-logo{
    align-self:center;
}

.AppHeader_appLogo__1aQjb {
    width: 80px;
    height: 80px;
    align-self: center;

}